

/************* APP ***************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-bottom: 20px;
}

.App-header {
  background-color: #2C313A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/************* USER PAGE ***************/

.User-signin{
  display: flex;
  flex-direction: column;
}

.User-button{
  background-color: yellow;
}

/************* RULES PAGE ***************/

ul > li {
  /* text-decoration: none; */
  list-style:none;
}

.solution-li {
  margin: 12px;
  padding: 5px;
}
